@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* <weight>: Use a value from 100 to 900 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  list-style-type: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0rem 1rem;
}

.navbar .admin-link,
.navbar .logo-container {
    min-width: 170px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .logo-container .logo-img {
  width: auto;
  height: 170px;
}

.navbar .site-title {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  font-size: 2.75rem;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Anton", sans-serif;
}

.navbar .admin-link .btn-admin{
    color: black;
    font-size: 1.25rem;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 23px;
    padding: 17px 20px;
    background: #00b4a4;
}
